body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: white;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
  }

  .container {
    text-align: center;
    padding: 20px;
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .logo {
    margin-right: 10px;
  }

  .section-title {
    text-align: left;
    margin: 0px 10px;
    font-size: 1.5em;
  }

  .button {
    border: none;
    outline: none;
    background: none;
    padding: 10px;
    margin-bottom: 2px;
    display: inline-block; 
    text-align: center; 
  }
  
  .button img {
    width: auto;
    height: 80px;
    border-radius: 12px;
  }
  
  .description {
    font-size: 0.9em;
    color: grey;
  }
  
  .big-caption {
    font-size: 1em; 
    color: #000;
    margin-top: 5px;
  }
  
  .small-caption {
    font-size: 0.7em; 
    color: #666;
    margin-top: 2px; 
  }  
  
  .star-rating {
    color: orange;
  }

  .slider {
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .slider-wrapper {
    display: flex;
    align-items: center;
  }

  .thumbnail-button:last-child {
    margin-right: 0;
  }
  
  .thumbnail-button img {
    width: auto; 
    height: 100px; 
    vertical-align: middle;
  }

  .star-rating {
    color: #000; 
  }


.slider::-webkit-scrollbar {
  height: 12px; 
  background-color: #f5f5f5; 
}

.slider::-webkit-scrollbar-thumb {
  background-color: transparent; 
  border-radius: 6px; 
  border: 3px solid #f5f5f5; 
}

.slider::-webkit-scrollbar-track {
  background-color: #f5f5f5; 
}

.slider::-webkit-scrollbar-thumb {
  background-color: transparent; 
}

.slider:hover::-webkit-scrollbar-thumb {
  background-color: #888; 
}


/* Drop down */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Optional: Add a caret symbol (▼) for dropdown */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}